<nav class="navbar navbar-expand-lg navbar-light gradient1 ">
    <img width="40" heigth="40"  src="/../assets/msn_imgs/logo_live.png" alt="">
        <a class="navbar-brand text-white" routerLink="/home">MSN Alive!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            <a class="nav-item text-white" href="#">Configuración</a>
            <a class="nav-item text-white" href="#">Acerca de</a>
            <a class="nav-item text-white" routerLink="/register">Registro</a>
        </div>
        </div>
</nav>
<router-outlet></router-outlet>