<div class="row justify-content-center">
  <div class="col-1"></div>
  <div class="col-2">
    <img src="../assets/msn_imgs/profile.jpg" width="120px" height="120px" class="img-fluid">
    <p></p>
    <p>Cambiar foto</p>
    <button>Subir avatar</button>
  </div>
  <div class="col-8">
    <p>Nick</p>
    <input type="nick" class="form-control">
    <p>Subnick</p>
    <input type="subnick" class="form-control">
    <p>Email</p>
    <input type="email" class="form-control">
    <p>Status</p>
    <input type="status" class="form-control">
    <button>Guardar</button>
  </div>
  <div class="col-1"></div>
</div>
<!-- 
  //{{entrada | salida}} formatos y ejemplos de pipes
  <p>
  {{timestamp | date: 'full'}}
</p>
<p>
  {{price | number: '1.2-2'}}
</p>
<p>
  {{user | json}}
</p> -->