
<div class=" sticky-top bgImageHeader ">
  <div class="row ">
    <div class="col-md-2 col-12 ">
      <img width="110" heigth="110"  src="http://via.placeholder.com/110x110" class="img-thumbnail img-fluid" alt="">
    </div>
    
  </div>
</div>
<div class="container-fluid">
      <div class="input-group mb-3">
        
        <input type="search" class="form-control" placeholder="Buscar un contacto o un número..." aria-label="Search" aria-describedby="basic-addon1">
        <div class="input-group-append">
            <span class="input-group-mb3 mx-auto" >
                <img width="30" heigth="30" src="/../assets/msn_imgs/logo_live_add.png" >
            </span>
          </div>  
      </div>
  <div class="row">
    <ul class="">
      <li routerLink="/conversation/{{user.user_id}}" *ngFor="let user of users">
        {{user.name}} {{user.status}}
      </li>
    </ul>
  </div>
</div>

